* {
	margin: 0; padding: 0;
	font-family: '나눔 고딕', 'NanumGothic', 'NanumBarunGothic', Gothic, sans-serif;
}

hr {
	color: black;
}

a {
	text-decoration: none;
	color: white;
}

/* 백종민 추가부분 */
.card{
	float:left;
}
#main_nav{
	margin: 0 auto;
	height: 100px; width: 1000px;
	text-align: center;
}
#main_nav_logo{
	float: left;
	padding: 20px 0 20px 40px;
}
#main_nav_search{
	float: left;
	padding-top: 35px;
	margin-left: 50px;
}
#search_bar{
	float: left;
	margin: 0 10px;
	width: 250px; height: 30px;
	border-radius: 15px;
	border: 1px solid #cccccc;
	background-color: white;
}
.search_bar_text{
	color: black;
	vertical-align: middle;
	margin-left: 30px;
}

#login_information {
	display: none;
}
.main_nav {
	margin-top: 35px;
	vertical-align: middle;
	float: left;
	font-size: 15px;
	color: white;
	padding-left: 70px;
}
#main_nav_member > a {
	text-decoration: none;
}
.image_down_arrow {
	background-image: url('down-arrow.png');
	width: 20px; height: 20px;
	vertical-align: middle;
}
/* 백종민 추가부분 끝 */

/*상단 이미지 구성하는 부분*/
#main_header {
	position: relative;
	height: 560px;
	background-size: 100% 560px;
	background-repeat: no-repeat;
	background-attachment: scroll;
}
.student_hall_image {
	background-image: url('student_hall.jpg');
}
.woojungdang_image {
	background-image: url('우정당배경.jpg');
}
.jingwanhall_image {
	background-image: url('진관홀배경.jpg');	
}
/*상단 구성중 타이틀(학생회관) 텍스트 부분*/
#main_text_title {
	position: absolute;
	left: 48%; top: 20%;
}
#main_text_title > span {
	font-weight: bold;
	font-size: 22px;
	color: white;
}
/*상단 구성중 hr 부분*/
#main_hr {
	position: absolute;
	width: 85px;
	left: 48%; top: 24%;
}
#main_hr > hr {
	height: 2px;
	border: 1px;
	border-top: 1px solid white;
	margin: 1em 0;
	padding: 0;
}
/*상단 구성중 내용 텍스트 부분*/
#main_text_content {
	position: absolute;
	left: 33%; top: 30%;
}
#main_text_content > span {
	font-size: 22px;
	color: white;
}


/* 중단부 container CSS */
#main_container {
/*	width: 91.66%; height: 1200px;
	margin: 0 auto;
	background-origin: white;*/
}
.student_hall_main_container {
	width: 91.66%; height: 1000px;
	margin: 0 auto;
	background-origin: white;
}
.jingwan_hall_main_container {
	width: 91.66%; height: 400px;
	margin: 0 auto;
	background-origin: white;
}
.woojungdang_main_container {
	width: 91.66%; height: 400px;
	margin: 0 auto;
	background-origin: white;
}
#main_card_div {
	width: 1300px;
	padding-top: 50px;
	margin: 0 auto;
}
/* 중단부 첫번째 음식카드 이미지 부분*/
#main_card_image_div {
	position: relative;
}

/* 중단부 첫번째 음식카드 텍스트 부분*/
#main_card_text_div {
	position: relative;
}

.card {
	display: inline-block;
	width: 200px; height: 300px;
	margin-left: 10px;
	border: 1px solid #CCCCCC;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3);
}
.image_in_card > img {
	width: 200px; height: 200px;
	border-radius: 15px 15px 0 0;
}
.text_in_image {
	position: absolute;
	left: 5px; bottom: 10px;
}
.text_in_image > a > p:nth-child(1) {
	font-size: 20px;
	font-weight: bold;
	color: white;
}
.text_in_image > a > p:nth-child(2) {
	font-size: 16px;
	font-weight: bold;
	color: white;
}
/*중단부 첫번째 음식카드 텍스트 부분 제목*/
.foodname_in_text {
	position: absolute;
	left: 5px; top: 10px;
	font-size: 16px;
	font-weight: bold;
}
/*중단부 첫번째 음식카드 텍스트 부분 가격*/
.foodprice_in_text {
	position: absolute;
	right: 15px; top: 60px;
	font-size: 20px;
	font-weight: bold;
}








/* 하단부 footer CSS*/
#footer {
	width: 100%; height: 200px;
	background-color: #373737;
}

#footer_container {
	padding-top: 30px;
	width: 100%; height: 60px;
}

#footer_logo {
	margin-left: 30px;
}

#footer_text {
	width: 100%; height: 50px;
}

#footer_text > p {
	margin-left: 40px;
	font-size: 16px;
	color: white;
}

#footer_text > p:nth-child(4) {
	font-size: 12px;
	color: #6a6a6a;
}

#footer_text > p:nth-child(5) {
	font-size: 12px;
	color: #6a6a6a;
}


